body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Avenir";
    color: #333;
}
a:link {
    text-decoration:none;
    color: rgb(245,245,245);
}
 a:visited {
    color: rgb(245,245,245);
}

li { 
  cursor: pointer; 
  cursor: hand; 
}
.mainwrapper {
    position:    absolute;
    left:        0%;        
    /*top:         50%;*/
    /*width:       1200px;       The fixed width... 200*/
    width:100%;
    height:      960px;      /* ...and height 100*/
    margin-left: auto;     /* Shift over half the width */
    /*margin-top:  -350px;       Shift up half the height */
    border: 1px solid black; /* Just for demo */

    overflow:hidden;
}

.menubardiv {
    /*position:relative;*/
    width:100%;
    height: 60px;
    top:0px;
    left:0;
    margin-left: 0;
    z-index: 2100;
    background-color: rgb(50,50,50); 
    background-image:url('/images/icons/assault.png');
    background-repeat: repeat;
    /*box-shadow: 0px 2px 3px #ff0;*/
    text-align: center; 

}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding:0;
}

li {
    padding-bottom: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
.menubarul{
    position:relative;
    top: 0;

}
.menubarul li {
    position: relative;
    line-height: 60px;
    vertical-align: middle;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}
.menubardiv span {
    height:70px;
    font-size: 25px;
    font-family: "Avenir";
    color: rgb(220,220,220);
    /*background-color: rgb(50,50,50); */
}

.logospan a {
    font-size: 40px;
    /*color:rgb(255,215,0);*/
}
.logospan {
    font-size: 40px;
}

.bigphotodiv {
    border-width: 1px #ff0;
    height: 850px;
    overflow: hidden;
    -webkit-user-select: none;
}
.centerimg {
    margin-top: -50px;
    min-width: 1400px;
    z-index:100;
    width:100%;
}

.searchbardiv {
    position: absolute;
    width: 0px;
    height: 50px;
    top:20%;
    left:50%;
    border-radius: 5px;
    border-width: 0;
    opacity: 0;
    /*background-color: rgba(250,250,250, 1);*/
    /*color:white;*/
    margin-left:-250px;
    z-index: 45;
}
.searchbarinput {
    width: 490px;
    height: 50px;
    padding-left: 10px;
    border-width: 0;
    border-radius: 5px;
    font-size: 22px;
    font-family: "Avenir";
}

.searchlistul {
    width: 500px;
    height:0;
    border-radius: 5px;
    overflow:hidden;
    z-index: 2001;
    
}

.searchlistul li {
    width: 500px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    background-color: rgba(240,240,240,1);
    z-index: 2002;
    
}
.destnamediv {
    position: absolute;
    width: 500px;
    height: 100px;
    top:20%;
    left:50%;
    margin-left:-250px;
    z-index: 500;

    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: rgba(13,13,13, 0.5);
    border-radius: 5px;
    border-width: 0;

    color: rgb(254,254,254);
    font-size: 30px;
    font-family: 'Avenir';
    overflow:hidden;
    cursor: pointer;
}

.chardiv {
    position:absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    /*visibility:hidden;*/
    /*display:none;*/
}
.charul {
    position:absolute;
    width: 500px;
    left:50%;
    margin-left: -250px;
    vertical-align: middle;
}
.charli {
    height: 30px;
    width: 500px;
    text-align: left;
    font-size: 25px;
}

.gotitdiv {
  position: absolute;
  top:120px;
  right:240px;
  height: 40px;
  width:100px;
  border-radius: 5px;
  background-color: rgba(255,140,0,0.8);

  opacity: 0;

  color: rgb(254,254,254);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.votediv {
  position:absolute;
  top:160px;
  right:260px;
  z-index: 6000;
}
.voteupdiv,.votedowndiv{
  display:block;
  width:80px;
  height:30px;
  opacity: 0.2;

  border-radius: 5px;
  background-color: rgba(255,140,0,0.8);
  /*background-image: '/images/icons/upvote.gif';*/

  color: rgb(254,254,254);
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  /*background-repeat: none;*/
}

.votedowndiv {
  position:absolute;
  top:55px;
}

.nextdiv {
    position: absolute;
    width: 200px;
    height: 600px;
    top:10%;
    left:80%;
    background-color: rgba(14,14,14,0);
    z-index: 1001;
    cursor: pointer;
}

.containnextdiv {
    position: absolute;
    width: 100px;
    height: 50px;
    top:40%;
    left:80%;
    opacity:0.2;
    background-color: rgba(14,14,14,0.8);

    color: rgb(254,254,254);
    display: table;
    font-size: 30px;
    line-height: 4em;
    font-family: 'Avenir';
    text-align: center;

}
.nextspan {
    font-size: 50px;
    color: rgb(200,200,200);
    cursor: hand;
}

.footerbardiv {
    position:absolute;
    width:100%;
    top:910px;
    height: 50px;
    background-color: rgb(50,50,50); 
    background-image:url('/images/icons/assault.png');
    background-repeat: repeat;
}
.footerbardiv ul {
    position:absolute;
    left: 650px;
    width:800px;
    margin-left: -400px;
    top: 0;
}
.footerbardiv li {
    /*position: relative;*/
    vertical-align: middle;
    display: inline;
    line-height:50px;
    padding-left: 30px;
    padding-right: 30px;
}
.footerbardiv span {
    font-size: 20px;
    font-family: 'Avenir'; 
    color:white;
}
