
<div class="mainwrapper" ng-init="loaddata()">
  <div class="menubardiv">
    <ul class="menubarul"> 
<!--     <li><span ng-click="grabsearchbar();fetchcitieslist()"><a href="">Search</a></span></li> 
    <li><span ng-click="exitexplore()"><a href="/">Random</a></span></li>  -->
    <li><span ng-click="exitexplore()" class="logospan"><a href="/">Travlr</a></span></li> 
<!--     <li><span><a href="#/signup">Sign up</a></span></li> 
    <li><span class="explorespan" ng-click="enterexplore();fetchcitieslist()"><a href="">Explore</a></span></li>  -->
    </ul>
  </div>
  <div class="bigphotodiv"> 
    <img class="centerimg" >
    <div class="aboutdiv"> 
      When searching for travel destinations, don't you wish you had a well-traveled friend that knows you well enough to know what you would enjoy? <br><br>

      <span class="mainparagraph">Travlr uses machine learning methods to learn what travel destinations you would enjoy based on its wide database.</span> <br><br>

      Start by clicking Explore and entering a city you like <br><br>

      Travlr would show cities that most resemble your input city according to dozens of characteristics <br><br>


    </div>
  </div>

  <div class="footerbardiv"> 
    <ul>
      <li><span></span></li> 
      <li><span><a href="/random">Tweet</a></span></li> 
      <li><span><a href="/">TRAVLR</a></span></li> 
      <li><span>Sign in</span></li> 
    </ul>
  </div>
</div>