<div class="mainwrapper" ng-init="loaddata()">
  <div class="menubardiv">
    <ul class="menubarul"> 
    <li><span ng-click="grabsearchbar();fetchcitieslist()"><a href="">Search</a></span></li> 
    <li><span ng-click="exitexplore()"><a href="/">Random</a></span></li> 
    <li><span ng-click="exitexplore()" class="logospan"><a href="/">Travlr</a></span></li> 
    <li><span>Sign up</span></li> 
    <li><span class="explorespan" ng-click="enterexplore();fetchcitieslist()"><a href="">Explore</a></span></li> 
    </ul>
  </div>
  <div class="bigphotodiv" ng-mouseover="mouseover()"> 
    <img class="centerimg" ng-src="images/{{destdata.photourl}}">
    <div class="searchbardiv">
      <form > <!-- ng-submit="searchforterm()" --> 
        <input type="text" class="searchbarinput" placeholder="{{destdata.name}}" ng-model="searchterm" ng-change="searchinputchange()"/>
        
      </form>
      <ul class="searchlistul">
        <li ng-repeat="city in citieslist | filter:searchterm" ng-click="searchtermclicked(city)" >
          {{city}}
        </li>
      </ul>
    </div>

    <div class="destnamediv" ng-click="expand($event)"> 
      <div data-fade="1" ngModel="activeTab" bs-tabs>
        <div ng-repeat="tab in tabs" data-title="{{tab.title}}"><p>{{tab.content}}</p></div>
      </div>
      <span class="destnamespan"> {{destdata.name}}</span>
      <div class="chardiv" ng-style="chardivstyle"> 
        <ul class="charul">
          <li class="charli" >
             {{destdata.description}}
          </li>
          <li class="charli" ng-repeat="(key,val) in destdata.characteristics">
            {{key}} : {{val}}
          </li>
        </ul>
      </div>
    </div>

    <div class="gotitdiv">
    got it!
    </div>

    <div class="votediv" >
      <div class="voteupdiv" ng-click="gotitmsg($event)" ng-mouseenter="entervotediv($event)" ng-mouseleave="exitvotediv($event)">
        <a href='' title="This is similar to my target destination!">up vote</a>
      </div>
      <div class="votedowndiv" ng-click="gotitmsg($event)" ng-mouseenter="entervotediv($event)" ng-mouseleave="exitvotediv($event)">
        <a href='' title="This is really off from what the target destination is">down vote</a>
      </div>
    </div>
    <div class="nextdiv" ng-click="clicknext()" ng-mouseenter="mouseenternext()" ng-mouseleave="mouseleavenext()"> 
    </div>
    <div class="containnextdiv">
      <span class="nextspan">></span>
    </div>

  </div>
  <div class="footerbardiv"> 
    <ul>
      <li><span><a href="#/about">About</a></span></li> 
      <li><span><a href="/">Tweet</a></span></li> 
      <li><span><a href="/">TRAVLR</a></span></li> 
      <li><span>Sign in</span></li> 
      <li><span> Explore </span></li> 
    </ul>
  </div>
</div>
