
<div class="mainwrapper" ng-init="loaddata()">
  <div class="menubardiv">
    <ul class="menubarul"> 
<!--     <li><span ng-click="grabsearchbar();fetchcitieslist()"><a href="">Search</a></span></li> 
    <li><span ng-click="exitexplore()"><a href="/">Random</a></span></li>  -->
    <li><span ng-click="exitexplore()" class="logospan"><a href="/">Travlr</a></span></li> 
<!--     <li><span><a href="#/signup">Sign up</a></span></li> 
    <li><span class="explorespan" ng-click="enterexplore();fetchcitieslist()"><a href="">Explore</a></span></li>  -->
    </ul>
  </div>

  <div class="bigphotodiv" ng-mouseover="mouseover()"> 
    <img class="centerimg" ng-src="../images/stockholm1.jpg">
  </div>
  <div class="signupdiv"> Sign up with facebook</div>
  <div class="footerbardiv"> 
    <ul>
      <li><span>About</span></li> 
      <li><span><a href="/random">Tweet</a></span></li> 
      <li><span><a href="/">TRAVLR</a></span></li> 
      <li><span>Sign in</span></li> 
      <li><span> Explore </span></li> 
    </ul>
  </div>
</div>